body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: gray;
    color:white;
}

header {
    text-align: center;
}

header h1 {
    color:aquamarine(255, 255, 255);
}

section {
    margin-top: 20px;
}

div {
    margin-bottom: 20px;
}

div img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    text-align: center;
    margin-top: 40px;
}
img{
    border-radius:10px;
}

.imagem1 {
    height: 200px;
}

.TITULO1{
    color: orangered;
}
 h3{
    color: yellowgreen;
 }